body {
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 20px;
}

h1{
    font-family: 'HalyardDis_ISIAU Bk';
    font-size: 20px;
}

a{
    text-decoration: none;
    border-bottom: 1px solid black; /*short hand > contrazione diverse linee di codice*/
}

/*chabatta*/